<h1>Welcome to the Music Recommender!</h1>

  <form action="/results" method="get">
    <label for="query">Enter a music artist or song you like:</label><br>
    <input type="text" id="query" name="query"><br><br>
    <input type="submit" value="Get Recommendations">
  </form>
