<div class="form-container">
    <form action="/results" method="get">
        <label for="query">Enter a musician you like:</label><br>
        <input type="text" id="query" name="query"><br><br>
        <input type="submit" value="Search">
    </form>
</div>
