body{ 
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
overflow: auto;
height: 100%;

}

html {
  overflow: hidden;
  height: 100%;
}

a {
  text-decoration: none; 
  color: #333A3F;
  text-align: center;
}

a:hover {
  
  text-decoration: underline;
}

header{
text-align: center;
font-family: "Inter Tight", sans-serif;
font-weight: 500;
font-style: italic;
font-size: 10rem;
}

h1{
  text-align: center;
}

form{
text-align: center;
font-family: "Inter Tight", sans-serif;
font-optical-sizing: auto;

}

ul{
  text-align: center;
  list-style-type: none;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 30px;
  width: 250px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding-top: 5px;
}
li{
  padding-right: 35px;
}

.search-again-container {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  color: #333333;
  font-style:italic;
}

.recommendations-container{
display:flex;
justify-content: center;
text-align: center;
}

input{
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  color: #333333;
  font-size: 1.5rem;
  }

  label{
    font-family: "Inter Tight", sans-serif;
    color: #333333;
    font-size: 1.5rem;
  }

  h1{
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 5rem;
  }

  li{
    font-family: "Inter Tight", sans-serif;
    color: #333333
  }
